@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');




body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  

  font-family: 'Noto Sans KR', sans-serif;}

#mainTop h1 {
  margin: 1.8em 0 1.2em 0;
  color: white;
  font-family: 'Noto Sans Display', sans-serif;  
}
#mainTop{
    
    
    text-align: center;
}
#main-logo{
  display: flex;
  justify-content: center;
  background-color: #316B83;
  width: 100%;
}

#mainTop img{
  width: 35%;
}




nav {
  width: 100%;
  display: flex;
  justify-content:center;
  position: relative;
  background: #316B83;
  padding-bottom: 10px;
  padding-top: 10px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
  
}

#main-menu > li > a {
  font-size: 18px;
  color: white;
 
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  margin: 15px 0px 15px 0px;
  line-height: 15px;
  padding-right: 20px;
  padding-left: 20px;
  
  /* border-right: 1px solid rgba(0,0,0,0.15); */
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


input:focus {
  outline: none;
}

#main-menu > li:not(:last-child) > a{
  border-right: 1px solid #6D8299;
}

#sub-menu {
  position: absolute;
  /* background: #FBF4E9; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  width: 150px;
  border: 1px solid #1c3b49;
  
  margin-top: 10px;
  z-index: 9999;
  background-color: #316B83;
}

#sub-menu > li {
  padding: 10px 28px;
  
}

#sub-menu > li:not(:last-child)  {
  border-bottom: 1px solid white;
}

#sub-menu > li >  a {
  color: white;
  text-decoration: none;
  font-size: 15px;
 
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}

section {
  column-width: 15em;
  background: #dadadf;
  padding: 2em 12em;
}

/* .main-free-board-top{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
.main-free-board-top div{
  font-weight: 600;
  font-size: 25px;
}
.main-free-board-top span{
  font-size: 16px;
  margin-top: 5px;
  margin-right: 7px;
  color:gray
}

.main-free-board{
  margin-top: 50px;
  margin-right: 35px;
  width: 100%;

}
.main-free-board-title{
  display: flex;
  justify-content:space-between;
  margin-left: 5px;
  font-size: 18px;
  
}

.board{
  z-index: 0;
  display: flex;
  width: 100%;
} */

.board{
  width: 70%;
  display: flex;
  justify-content: center;
}
.main-free-board{
  width: 50%;
  margin-top: 75px;
}

.main-free-board:not(:last-child){
  margin-right: 5%;
  margin-left: 5%;
}

.main-free-board-title{
  display: flex;
  justify-content:space-between;
  margin-left: 5px;
  font-size: 18px;
}

.main-free-board-top div{
  font-weight: 600;
  font-size: 25px;
}
.main-free-board-top span{
  font-size: 16px;
  margin-top: 5px;
  margin-right: 7px;
  color:gray
}
.main-free-board-top{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

#main{
  display: flex;
  justify-content: center;
  width: 100%;
}
#loginBox input{
  margin-bottom: 1px;
  width: 130px;
  height: 30px;
  border:1px solid #e3e3e3;
  font-size: 15px;
  border-radius: 3px;
}
#loginForm button{
  border:1px solid #e3e3e3;
  font-size: small;
  height: 61px;
  width: 80px;
  background-color:white ;
  font-weight: 600;
  border-radius: 3px;
}
#loginForm{
  display: flex;
  padding: 30px 5px 5px 5px;
  
}
#loginBox{
  border: 1px solid #b9bbbd;
  border-radius: 3px;
  margin-top: 70px;
  margin-left: 30px;
  background-color: #f5f5f5;
  height: 200px;
}

#admin-menu{
  display: flex;
  justify-content: space-between;
}
#admin-menu a{
  color:gray;
}
#socialLogin{
  display: flex;
  justify-content: center;
}
.loginborder{
  border-bottom: 1px #bdb9b9 dashed;
  margin-bottom: 15px;
  width: 92%;
}
#socialLogin a{
  text-align: center;
  width: 95%;
  border:1px solid #e3e3e3;
  font-size: 16px;
  margin-bottom: 10px;
  height: 35px;
  background-color: white;
  color: #FF5C58;
  font-weight: 600;
  border-radius: 3px;
}
#socialLogin a div{
  margin-top: 3px;
}
#loginSubMenu{
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 5px 15px 15px 15px;
  color:gray;  
}
#loginSubMenu div{
  cursor: pointer;
}

#username{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#username img{
  width: 60px;
  height: 60px;
  border-radius: 70%;
}

#user-item i{
  width: 15px;
}


#userbox{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 70px;
  height: 240px;
  width: 205px;
  margin-left: 30px;
}
#user-item{
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#userlevel{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(128, 128, 128);
}
#logout{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:3px;
  border: 0;
  background-color: #316B83;
  color: #ffffff;
  font-size: 15px;
  height: 35px;
  font-weight: 600;
}
#logout a{
  color:white;
  margin-top: 6px;
}

#username-name{
  font-size: 15px;
  font-weight: 600;
}
#username-chgimg{
  font-size: 13px;
  color:gray;
}
#username-date span:last-child{
  font-size: 12px;
}
#username-item{
  margin-left: 10px;
}



.imgicon{
  color:rgb(158, 158, 158);
  margin-left: 3px;
  margin-right: 3px;
}
a:active {text-decoration: none;}
.board-top a:hover{color:rgb(0, 0, 0); text-decoration: none;}
a{
  color: #212121;
}
a:hover{color:rgb(85, 85, 85); text-decoration: none;}

#mobile{
  display: none;
}

#foot{
  width: 100%;
  height: 90px;
  margin-top:200px;
  background-color: #484e58;
  color: rgb(209, 209, 209);
  font-size: 14px;
}
#foot #foot-content{
  margin-left: 130px;
  margin-top: 30px;
}
#foot #foot-content div{
  cursor:default;
}
#foot #foot-content div:hover{
  padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}

.mobile-board-box{
  display: none;
}

@media screen and (max-width: 850px){
  body{
    display: block;
    margin:0;
    padding:0;
  }

  nav{
    display: none;
  }

  #main{
    width: 100%;
    display: block;
  }

  #loginBox,#userbox{
    display: none;
  }
  #foot{
    display: none;
  }

  .board{
    display: block;
    width: 100%;
}
.main-free-board{
  width: 100%;

 
}
.main-free-board:not(:last-child){
  margin-right: 0;
  margin-left: 0;
}


/* 게시판 --------------------*/




}















/* 모바일화면 */

