@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');



body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;  

  font-family: 'Source Sans Pro', sans-serif;
}

#mainTop h1 {
  margin: 1.8em 0 1.2em 0;
  color: white;
  font-family: 'Noto Sans Display', sans-serif;  
}
#mainTop{
    
    
    text-align: center;
}
#main-logo{
  display: flex;
  justify-content: center;
  background-color: #316B83;
  width: 100%;
}

#mainTop img{
  width: 35%;
}




.navigation {
  width: 100%;
  display: flex;
  justify-content:center;
  position: relative;
  background: #316B83;
  padding-bottom: 10px;
  padding-top: 10px;
  margin:0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main-menu > li {
  float: left;
  position: relative;
  
}

#main-menu > li > a {
  font-size: 18px;
  color: white;
 
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  margin: 15px 0px 15px 0px;
  line-height: 15px;
  padding-right: 20px;
  padding-left: 20px;
  
  /* border-right: 1px solid rgba(0,0,0,0.15); */
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}


input:focus {
  outline: none;
}

#main-menu > li:not(:last-child) > a{
  border-right: 1px solid #6D8299;
}

#sub-menu {
  position: absolute;
  /* background: #FBF4E9; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
  width: 150px;
  border: 1px solid #1c3b49;
  
  margin-top: 10px;
  z-index: 9999;
  background-color: #316B83;
}

#sub-menu > li {
  padding: 10px 28px;
  
}

#sub-menu > li:not(:last-child)  {
  border-bottom: 1px solid white;
}

#sub-menu > li >  a {
  color: white;
  text-decoration: none;
  font-size: 15px;
 
}

#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}

#sub-menu > li >  a:hover {
 text-decoration: underline;
}





.board{
  width: 70%;
  display: flex;
  justify-content: center;
}
.main-free-board{
  width: 50%;
  margin-top: 33px;
}

.main-free-board:not(:last-child){
  margin-right: 5%;
  margin-left: 5%;
}

.main-free-board-title{
  display: flex;
  justify-content:space-between;
  margin-left: 5px;
  font-size: 18px;
  margin-bottom:3px;
}

.main-free-board-top div{
  font-weight: 600;
  font-size: 25px;
}
.main-free-board-top span{
  font-size: 16px;
  margin-top: 5px;
  margin-right: 7px;
  color:gray
}
.main-free-board-top{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

#main{
  display: flex;
  justify-content: center;
  width: 100%;
}
#loginBox input{
  margin-bottom: 1px;
  width: 130px;
  height: 30px;
  border:1px solid #e3e3e3;
  font-size: 15px;
  border-radius: 3px;
}
#loginForm button{
  border:1px solid #e3e3e3;
  font-size: small;
  height: 61px;
  width: 80px;
  background-color:white ;
  font-weight: 600;
  border-radius: 3px;
}
#loginForm{
  display: flex;
  padding: 30px 5px 5px 5px;
  
}
#loginBox{
  border: 1px solid #b9bbbd;
  border-radius: 3px;
  margin-top: 70px;
  margin-left: 30px;
  background-color: #f5f5f5;
  height: 200px;
}

#admin-menu{
  display: flex;
  justify-content: space-between;
}
#admin-menu a{
  color:gray;
}
#socialLogin{
  display: flex;
  justify-content: center;
}
.loginborder{
  border-bottom: 1px #bdb9b9 dashed;
  margin-bottom: 15px;
  width: 92%;
}
#socialLogin a{
  text-align: center;
  width: 95%;
  border:1px solid #e3e3e3;
  font-size: 16px;
  margin-bottom: 10px;
  height: 35px;
  background-color: white;
  color: #FF5C58;
  font-weight: 600;
  border-radius: 3px;
}
#socialLogin a div{
  margin-top: 3px;
}
#loginSubMenu{
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin: 5px 15px 15px 15px;
  color:gray;  
}
#loginSubMenu div{
  cursor: pointer;
}

#username{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#username img{
  width: 60px;
  height: 60px;
  border-radius: 70%;
}

#user-item i{
  width: 15px;
}


#userbox{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 70px;
  height: 240px;
  width: 205px;
  margin-left: 30px;
}
#user-item{
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#userlevel{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(128, 128, 128);
}
#logout{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top:3px;
  border: 0;
  background-color: #316B83;
  color: #ffffff;
  font-size: 15px;
  height: 35px;
  font-weight: 600;
}
#logout a{
  color:white;
  margin-top: 6px;
}

#username-name{
  font-size: 15px;
  font-weight: 600;
}
#username-chgimg{
  font-size: 13px;
  color:gray;
}
#username-date span:last-child{
  font-size: 12px;
}
#username-item{
  margin-left: 10px;
}



.imgicon{
  color:rgb(158, 158, 158);
  margin-left: 3px;
  margin-right: 3px;
}
a:active {text-decoration: none;}
.board-top a:hover{color:rgb(0, 0, 0); text-decoration: none;}
a{
  color: #212121;
}
a:hover{color:rgb(85, 85, 85); text-decoration: none;}

#mobile{
  display: none;
}

#foot{
  width: 100%;
  height: 90px;
  margin-top:200px;
  background-color: #484e58;
  color: rgb(209, 209, 209);
  font-size: 14px;
	bottom: 0px;
	position: absolute;
}
#foot #foot-content{
  margin-left: 130px;
  margin-top: 30px;
}


.mobile-board-box,.burger-check,.mobile-nav-menu{
  display: none;
}

.main-wrap{
  min-height: 100vh;
    position: relative;
    width: 100%;
    
}

section {
	padding-bottom: 150px; 
}
.lb-minipage{
  margin-top: 10px;
}

.lb-minipage-title{
  color:rgb(63, 63, 63);
  font-weight: 600;
  margin-bottom: 5px;
}
.lb-minipage-search{
  display: flex;
  width: 100%;
}
.lb-minipage-search button{
  border:0;
  font-size: 14px;
  width: 60px;
  color: #f5f5f5;
  background-color: #316B83;;
}
.lb-minipage-search input{
  border:1px solid #dadada;
  color: #484e58;
  

}













@media screen and (max-width: 450px){
 
  body{
    display: block;
    margin:0;
    padding:0;
    
  }
  .lb-minipage{
    display: none;
  }
  #mainTop img{
    width: 45%;
  }
  #foot #foot-content{
    margin-left: 10px;
    margin-top: 20px;
  }
 
  #navigation{
    display: none;
  }

  #main{
    width: 100%;
    display: block;
  }

  #loginBox,#userbox{
    display: none;
  }


  .board{
    display: block;
    width: 100%;
  
}
.main-free-board{
  width: 100%;
  border-bottom: 1px solid rgb(243, 243, 243);
  margin:0;
  padding-bottom: 5px;
}
.main-free-board-top{
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(243, 243, 243);
  background: linear-gradient( to bottom, rgb(255, 255, 255), rgb(233, 233, 233) );
  margin-bottom: 0;
}
.main-free-board-top div, .main-free-board-title div{
  padding-left: 5px;
}
.main-free-board-title div:last-child{
  margin-right: 5px;
}
.main-free-board-title{
  margin-bottom: 3px;
  margin-top:3px;
}
.main-free-board-top div a{
  color: #292929;
  font-weight: 600;
  font-size: 17px;
}

.main-free-board-top span a{
  font-size: 14px;
}

.main-free-board-top span{
  margin-top: 8px;
}
.main-free-board:not(:last-child){
  margin-right: 0;
  margin-left: 0;
}

.main-free-board-title div a{
  font-size: 16px;
  color:#292929;
}




/* 네비게이션 메뉴 */
    .mobile-nav-menu{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      max-width: 0;
      transition: 0.5s ease;
      z-index: 1;
      background-color: rgb(255, 255, 255);
      display: none;
    }
    
    .burger-icon {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      z-index: 2;
      padding: 8px 0;
      top: 4px;
      right: 4px;
      user-select: none;
      width: auto;
      margin: 0;
    }
    
    .burger-icon .burger-sticks {
      background:rgb(233, 233, 233);
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 25px;
      margin-right: 5px;
      margin-top: 5px;
      
    }
    
    .burger-icon .burger-sticks:before,
    .burger-icon .burger-sticks:after {
      background: rgb(233, 233, 233);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
    
    .burger-icon .burger-sticks:before {
      top: 5px;
    }
    
    .burger-icon .burger-sticks:after {
      top: -5px;
    }
    
    .burger-check {
      display: none;
    }
    
    .burger-check:checked~.mobile-nav-menu {
      max-width: 320px;
      display: block;
    }
    
    .burger-check:checked~.burger-icon .burger-sticks {
      background: transparent;
    }
    
    .burger-check:checked~.burger-icon .burger-sticks:before {
      transform: rotate(-45deg);
    }
    
    .burger-check:checked~.burger-icon .burger-sticks:after {
      transform: rotate(45deg);
    }
    
    .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
    .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
      top: 0;
    }

    .mobile-nav-menu ul{
      margin:40px 10px 10px 20px;
    }
    .mobile-menu-title{
      
      border-bottom:1px solid #f1f1f1;
      margin-bottom: 3px;
      color: rgb(85, 85, 85);
      font-weight: 500;
      font-size: 17px;
      padding:5px;

    }
    .mobile-menu-maincategory a{
      margin-left: 5px;
      color:rgb(109, 109, 109);
      font-size: 17px;
      
    }
    .mobile-menu-maincategory{
      padding:5px
    }
    .mobile-menu-list{
      border-bottom: 1px solid #f1f1f1;
      padding: 10px;
    }

    /* 네비게이션 메뉴 끝 */





    /* login */

    .loginForm{    
      width: 95%;

    }
    #mobile-auth{
      display: flex;
      justify-content: center;
    }
    .loginForm input{
      width: 100%;
      height: 55px;
      border:0;
    }
    
    .mobile-login{
      width: 100%;
    }
    .box {
      display: block;
      width: 100%;
      height: 80px;
      border: solid 1px #dadada;
      border-radius: 3px;
      padding: 10px 14px 10px 14px;
      box-sizing: border-box;
      background: #fff;
      position: relative;
      margin-bottom: 5px;
    }
    /* #input-pw{
      margin-bottom: 40px;
      margin-top: 10px;
    } */
    
    .btnLogin{
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      color: #ffffff;
      background: #31363d;
      border: 1px solid #31363d;
      border-radius: 3px;

      
    }
    
    .loginForm a{
      color:black;
      text-decoration: none;
    }
    
    .btnGoogle{
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      background: #ff6c5e;
      border: 1px solid #ff7b6f;
      text-align: center;
      border-radius: 3px;
    }
    .btnGoogle div{
      color: white;
      font-size: 20px;
      margin-top: 5px;
      

    }

    .check-btn{
      width: 100%;
      height: 40px;
      margin-bottom: 5px;
      border:0;
      background-color: #316B83;
      color:white;
      border-radius: 3px;
    }

    .mobile-logo{
      width: 70%;
    }


}

















