@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.table{
    width: 1000px;
    font-size: 15px;
    margin-top:35px;
    border-top: black solid 3px;
    margin-right: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.notisTitle{
    font-weight: 600;
}
.table td, .table th{
    padding:0;
    padding-top:10px;
    padding-bottom: 10px;

    text-align: center;
    vertical-align:middle; 
}

table .Title, table .bno, table .noticeText{
    text-align: left;
}
table .bno{
    padding-left: 10px;
    width: 110px;
}

table .Title{
    width: 500px;
}
#subcategoryname{
    color:#979797;
}

#create-container{
    width: 1100px;
    margin-top: 100px;
}

#create-title input{
    width: 850px;
    height: 40px;
    border: 0;
    font-size: 25px;
    color:#010101;

}

#deleteNotiBtn{
    cursor: pointer;
}
.notiDel{
    color: rgb(82, 82, 82);
}

input::placeholder {
    color: #dadada;
  }

.box {
    display: block;
    width: 100%;
    height: 60px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-radius:5px;
    margin:15px 0px 15px 0px;
}
#container-title{
    border-bottom: solid 1px #dadada;
    padding: 6px;
    font-weight: 600;
    color:#464646;
    font-size: 20px;
}
#create-main{
    display: flex;
}

#create-option{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #464646;
    margin-bottom: 30px;
}
#create-option select{
    border: solid 1px #dadada;
    height: 36px;
    border-radius: 2px;
    color: #464646;
    margin-left: 5px;
    
}
#create-option input{
    width: 80px;
    height: 36px;
    color: #464646;
    border: solid 1px #dadada;
}

.notice{
    
   background-color: #D7E9F7;
}
table .noticeText div{
    background-color: red;
    
    width: 40px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
    border-radius: 4px;
}

#board-foot{
    display: flex;
    justify-content: space-between;
}
#board-foot .createbtn{
    margin-right: 35px;
    border: solid 1px #dadada;
    height: 30px;
    width: 60px;
    font-size: small;
    text-align: center;
    padding-top: 5px;

}


.pagination a{
    padding-left: 10px;
    padding-right: 10px;
    color: #888;
}
#pageint{
    margin-top: 3px;
}
.paginateBtn{
    display: flex;
    justify-content: center;
}
.board-top{
    display: flex; 
    margin-top: 75px;
    border-bottom: 1px solid black;
    width: 70%;
    font-family: 'Noto Sans KR', sans-serif;
    
}
.subboard{
    margin-top: 14px;
    margin-left: 15px;
    
}
.subboard span{
    padding: 5px;
}


.subboard span a{
    position: relative;
}

.subboard span a:before{
    content : '';
    position: absolute;  
    background-color: black;
    height: 2px;
    width : 0;
    bottom: -8px;          
    transition: 0.5s;   
 
    left : 50%;        
    transform: translateX(-50%);
    
}

.subboard span a:hover:before{ 
    width : 100%;  
}
.subboard span a:hover{
    font-weight: 600;
}

.current{
    font-weight:600;
}

#imgboard img{
    display: block;
    overflow: hidden;
    position: relative;
    width: 186px;
    height: 186px;
    object-fit: cover;
    border-radius: 2px;

  
    /* image-rendering: -webkit-optimize-contrast; */
    transform: translateZ(0);
    backface-visibility: hidden;
}
#imgboard{
    margin-top: 50px;  
    width: 1000px;
}

.imgBoardTitle{
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(32, 32, 32);
}
.mainimgBoardTitle{
    font-size: 14px;
    color: rgb(32, 32, 32);
}

.imgBoardName{
    font-size: 13px;
    color: rgb(105, 105, 105);
}
#imgBoardTime{
    font-size: 13px;
    padding-bottom: 20px;
    color:#979797;
}
.imgBoardsubcategory{
    font-size: 13px;
    color:#979797;
    padding-top: 5px;
}


/*게시판-show*/
.read-baord-box{
    
    width: 1100px;
}

.title-profil{
    display: flex;
    justify-content: space-between;
}
.read-board{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #424242;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 15px;
    color:rgb(167, 167, 167)

    /* font-size: 25px;
    padding-bottom: 5px;
    font-weight: 600;
    color:#316B83;
    border-bottom: 1px solid #316B83;
    margin-bottom: 15px;
     */
}
.read-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    
}
.read-data-1{
    display: flex;
}
.read-profil{
    padding-right: 10px;
    display: flex;
    font-weight: 400;
    
}
.read-profil img{
    border-radius: 70%;
    width: 30px;
    height: 30px;
    margin-top: 13px;
}
.read-time{
    margin-top: 4px;
    color: #979797;
}
.read-profil-name{
    margin-top: 18px;
    margin-left: 5px;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.read-data{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: solid 1px #e7e7e7;
   
     
}
.read-baord-box{
    color:#353535;
    padding: 40px;
    /* border: solid 1px #e7e7e7; */
}
.read-data-2{
    margin-top: 9px;
    font-size: 14px;
}

.read-num{
    margin-left: 2px;
}
.board-content{
    margin-top: 35px;
    margin-bottom: 90px;
}

.read-main{
    
    margin-top: 70px;
   
}
#read-foot-1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}
#read-updataDeleteBtn{
    display: flex;
}
#read-updataDeleteBtn-update, #read-return {
    text-align: center;
    line-height: 28px;
    
}
#read-updataDeleteBtn-update{
    margin-right: 5px;
}

#read-updataDeleteBtn-update, #read-updataDeleteBtn-delete button, #read-return{
    
    background-color: #e7e7e7;
    border-radius: 4px;
    border: 0;
    width: 53px;
    font-size: 12px;
    height: 28px;
    font-weight: 600;
}


/* #read-updataDeleteBtn-delete button{
    border-radius: 4px;
    border:0;
    background-color: #e7e7e7;
} */

.commentnum{
    color: #ff6464;
    font-weight: 600;
}




/* 코멘트관련 */
.imgs_wrap img {

    max-width: 80px;
    max-height: 80px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.9;
    border-radius: 3px;
}


.searchNull{
    border-bottom: 1px solid rgb(241, 241, 241);
    width: 97%;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  input:focus {
    outline: none;
}


#searchBox{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.inputbox {
    display: block;
    width: 200px;
    height: 40px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-radius: 1px;
}

.input {
    display: block;
    position: relative;
    width: 180px;
    height: 22px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.searchSubmit input{
    width: 70px;
    height: 40px;
    border: 1px solid #316B83;
    border-left: 0;
    background-color: #316B83;
    color:white
}

.searchSelect select{
    height: 40px;
    margin-right: 5px;
    width: 150px;
    border: solid 1px #dadada;
    color:rgb(63, 63, 63);
  
}

#mobile-searchBox, .mobile-read{
    display: none;
}

@media screen and (max-width: 450px){

    

    .mobile-board-box{
        display: block;
      }
      table,.board-top{
        display: none;
        
      }

   

      .mobile-board-info{
        color:gray;
        font-size: 14px;
        margin-top: 3px;
      }
      .mobile-board-info span{
        margin-right: 3px;
      }
      .mobile-board-info span:not(:first-child){
        font-size: 13px;
      }
      .mobile-board-category{
        color:gray;
        font-size: 13px;
      }
      .mobile-board-info-name{
        color:black;
      }
      .mobile-board{
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        border-bottom: 1px solid rgb(240, 240, 240);
        width: 100%;
        padding-top:5px;
        padding-bottom: 5px;
      }
    
      .mobile-board-commnet{
        padding: 20px;
        font-size: 22px;
        color:rgb(255, 102, 102);
      }
      #searchBox{
          display: block;
      }
      .mobile-board-box{
          width: 100%;
      }

      #mobile-sebindex-board-box{
        border-bottom: 1px solid rgb(236, 236, 236);
      }
      
      #mobile-board-sebindex-list{
        margin-top: 10px;
        width: 100%;
      }

   
      #searchBox{
          display: none;
      }

      #mobile-searchBox{
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
      .mobile-serch-result{
        display: flex;
        justify-content: center;
      }
      
      .mobile-serch-select select{
        border:1px solid rgb(221, 221, 221);
        width: 100%;
        margin-bottom: 5px;
        height: 40px;
      }

      .read-baord-box{
          width: 100%;
          padding:0;
      }

      .read-title,.read-time,.board-content{
          margin-left: 8px;
      }
      .read-num{
          margin-right: 5px;
      }

    #imgboard{
        display: none;
    }

    .mobile-board img{
        display: block;
        overflow: hidden;
        position: relative;
        width: 35%;
        /* height: 50%; */
        
        object-fit: cover;
    
        margin-right: 10px;
        border-radius: 4px;
    }

    .mobile-board-content{
        display: flex;
    }
      

    #create-container{
        width: 100%;
        margin:0;
    }
    #create-title input{
        width: 100%;
    }

    .read{
        display: none;
    }
    .mobile-read{
        display: block;
    }
    .mobile-read-boardName{
        color:rgb(185, 185, 185);
      }
      .mobile-read-title{
        font-size: 19px;
        color:#424242;
        font-weight: 600;
      }
      .mobile-read-datenhit{
        color:gray;
        font-size: 13px;
      }
      .mobil-read-infor{
        display: flex;
        font-size: 14px;
        
      }
      .mobile-read-top-item{
        margin-left: 5px;
      }
      
      .mobile-read-profil-img img{
        width: 38px;
        height: 38px;
        border-radius: 70%;
      }
      
      .mobile-read-top{
        padding:15px;
        border-bottom: 1px solid rgb(241, 241, 241);
      }
      .mobile-read-description{
        padding:10px;
        padding-bottom: 30px;
        
      }
    
      .read-main{
    
        margin-top: 0;
       
    }
    .comment-title{
        margin-left: 10px;
    }

    .mypost-title{
        display: none;
    }

    #board-foot{
        display: block;
        margin-top: 5px;
    }

    .createbtn-div{
        display: flex;
        justify-content: right;
    }
    
}




